<% console.log(goods) %>
<% if (goods) { %>
    <% goods.forEach(ingredient => { %>
        <p><%= ingredient[0] %>: <%= ingredient.ingredientName %></p>
        <p>Weight: <%= ingredient.weight %></p>
        <p>Price: <%= ingredient.price %></p>
        <p>Ingredient Type: <%= ingredient.type %></p>
        <p>Vinmonopolet: <%= ingredient.Shops.vinmonopolet %></p>
        <p>Smak Av Italia: <%= ingredient.Shops.smakAvItalia %></p>
        <p>IntFood: <%= ingredient.Shops.intFood %></p>
        <p>Bunnpris: <%= ingredient.Shops.bunnpris %></p>
        <p>Kiwi: <%= ingredient.Shops.kiwi %></p>
        <p>Meny: <%= ingredient.Shops.meny %></p>
        <p>Mega: <%= ingredient.Shops.mega %></p>
        <p>Extra: <%= ingredient.Shops.extra %></p>
        <p>Shop: <%= ingredient.Shops.shop %></p>
    <% }) %>
<% } %>
  